# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Data Sleek\kafka-twitter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../:\Data Sleek\kafka-twitter\app.config
